@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, nav, .btn {
  font-family: 'Inknut Antiqua', sans-serif;
  
}


p
{
  font-family: 'Asul', sans-serif;
  font-weight: 400;
}

body {
  
  background-color: #1a202c;
  color: #ECEDEF;
}

a {
  color: white;
  transition: 0.4s;
}
hover .a {
  color: #F0CE00;
}

nav a.router-link-exact-active {
  color: #F0CE00;
}


body {
  padding: 0;
  margin: 0;
}


.clouds{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  pointer-events:none;
}
.clouds img{
  position:absolute;
  bottom:0;
  max-width:30%;
  animation:animate calc(2s * var(--i)) linear infinite;
}


.clouds2 {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  pointer-events:none;
}
.clouds2 img{
  position:absolute;
  bottom:0;
  max-width:60%;
  animation:animate calc(3s * var(--i)) linear infinite;
}

.clouds3 {
  position:absolute;
  top:0;
  left:0;
  height:80%;
  width:100%;
}
.clouds3 img{
  position:absolute;
  bottom:0;
  max-width:50%;
  animation:animate calc(3s * var(--i)) linear infinite;
}

@keyframes animate{
  0%{
    opacity:0;
    transform:scale(1);
  }
  25%, 75%{
    opacity:1;
  }
  100%{
    opacity:0;
    transform:scale(3);
  }
}


