
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'MedievalSharp', cursive;
  background-color: #1a202c;
  color: white;
}

a {
  color: white;
  transition: 0.4s;
}
hover .a {
  color: orange;
}

nav a.router-link-exact-active {
  color: orange;
}


body {
  padding: 0;
  margin: 0;
}
