@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


  .text-gradient {
    background: -webkit-linear-gradient(#f4df5d, #F0CE00, #F3951A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}

h1, h2, h3, h4, nav, .btn, .btn2 {
  font-family: 'Inknut Antiqua', sans-serif;
  
}


p, ul, li
{
  font-family: 'Asul', sans-serif;
  font-weight: 400;
}

body {
  
  background-color: #1a202c;
  color: #ECEDEF;
}

a {
  color: white;
  transition: 0.4s;
}
hover .a {
  color: #F0CE00;
}

nav a.router-link-exact-active {
  color: #F0CE00;
}



.container {
  width: 100%;
}
@media (min-width: 320px) {
  .container {
      max-width: 320px;
  }
}
@media (min-width: 640px) {
  .container {
      max-width: 640px;
  }
}
@media (min-width: 769px) {
  .container {
      max-width: 768px;
  }
}
@media (min-width: 1027px) {
  .container {
      max-width: 1024px;
  }
}
@media (min-width: 1285px) {
  .container {
      max-width: 1280px;
  }
}
@media (min-width: 1557px) {
  .container {
      max-width: 1536px;
  }
}


.clouds{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  pointer-events:none;
}
.clouds img{
  position:absolute;
  bottom:0;
  max-width:30%;
  animation:animate calc(2s * var(--i)) linear infinite;
}


.clouds2 {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  pointer-events:none;
}
.clouds2 img{
  position:absolute;
  bottom:0;
  max-width:60%;
  animation:animate calc(3s * var(--i)) linear infinite;
}

.clouds3 {
  position:absolute;
  top:0;
  left:0;
  height:80%;
  width:100%;
}
.clouds3 img{
  position:absolute;
  bottom:0;
  max-width:50%;
  animation:animate calc(3s * var(--i)) linear infinite;
}

@keyframes animate{
  0%{
    opacity:0;
    transform:scale(1);
  }
  25%, 75%{
    opacity:1;
  }
  100%{
    opacity:0;
    transform:scale(3);
  }
}


.fade-in {
  opacity: 0; /* Initially hide the element */
  animation: fade-in 0.5s ease-in forwards; /* Apply the fade-in animation */
  animation-timeline: view();
  animation-range: 0 40vh;
}

@keyframes fade-in {
  0% { scale: .5; opacity: 0; } /* Start with opacity 0 */

  50% { scale: .8; opacity: .5; } /* Start with opacity 0 */
  
  100% {scale:1; opacity: 1; } /* End with opacity 1 */ 
}



.move-in-right {
  animation: move-in-right 1s ease forwards;
  animation-timeline: view();
  animation-range: 0 40vh;
  
}

@keyframes move-in-right {
  0% {
    scale:0; transform: translateX(-100%); /* Start position: top-left corner */
  }
  100% {
    scale:1;transform: translateX( 0); /* End position: initial position */
  }
}


.move-in-left {
  animation: move-in-left 1s ease forwards;
  animation-timeline: view();
  animation-range: 0 40vh;
  
}

@keyframes move-in-left {
  0% {
    scale:0; transform: translateX(100%); /* Start position: top-left corner */
  }
  100% {
    scale:1;transform: translateX( 0); /* End position: initial position */
  }
}



.oval-thought{
  /* border: 2px solid orange; */
  position: relative;
  width: 250px;
  padding: 20px 40px;
  margin: 1em auto 0px;
  text-align: center;
  background: linear-gradient(#F0CE00, #F3951A);
  border-radius: 220px / 120px;     
}

.oval-thought:before{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  width: 30px;
  height: 30px;
  background: linear-gradient(#F0CE00, #F3951A);
  border-radius: 30px;
}

.oval-thought:after{
  content: "";
  position: absolute;
  bottom: -50px;
  left: 80px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: linear-gradient(#F0CE00, #F3951A);
}


.oval-thought2{
  /* border: 2px solid orange; */
  position: relative;
  width: 250px;
  padding: 20px 40px;
  margin: 1em auto 0px;
  text-align: center;
  background: linear-gradient(#F0CE00, #F3951A);
  border-radius: 220px / 120px;     
}

.oval-thought2:before{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 90px;
  width: 30px;
  height: 30px;
  background: linear-gradient(#F0CE00, #F3951A);
  border-radius: 30px;
}

.oval-thought2:after{
  content: "";
  position: absolute;
  bottom: -30px;
  left: 60px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: linear-gradient(#F0CE00, #F3951A);
}


.scroll-watcher{
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 40;
  background-color: #FB923C;
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {scale: 1 1;}
}